<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>

<% if @authentications %>
    <% unless @authentications.empty? %>
        <p><strong>You can sign in to this account using:</strong></p>
        <div class="authentications">
          <% for authentication in @authentications %>
              <div class="authentication">
                <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
                <div class="provider"><%= authentication.provider.titleize %></div>
                <div class="uid"><%= authentication.uid %></div>
                <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
              </div>
          <% end %>
          <div class="clear"></div>
        </div>
    <% end %>
    <p><strong>Add another service to sign in with:</strong></p>
<% else %>
    <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider btn btn-large">
  <i class="icon-twitter"></i>
</a>
<a href="/auth/facebook" class="auth_provider btn btn-large">
  <i class="icon-facebook"></i>
</a>
<a href="/auth/google_apps" class="auth_provider btn btn-large">
  <i class="icon-google-plus"></i>
</a>
<a href="/auth/linked_in" class="auth_provider btn btn-large">
  <i class="icon-linkedin-sign"></i>
</a>
<a href="/auth/open_id" class="auth_provider btn btn-large">
  <i class="icon-key"></i>
</a>
<div class="clear"></div>