= simple_form_for @authentication, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f|
  - if @authentication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authentication.errors.count, "error")} prohibited this authentication from being saved:"
      %ul
        - @authentication.errors.full_messages.each do |msg|
          %li= msg

  = f.association :user
  = f.input :provider
  = f.input :uid
  = f.input :raw, :as => :text, :input_html => { :cols => 50, :rows => 5 }
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'