- model_class = User

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand=t '.title', :default => model_class.model_name.human.pluralize
        = link_to '<i class="icon-backward"></i>'.html_safe, :back, :class => 'btn btn-mini pull-right'
  %p
    %b User:
    = link_to @authentication.user.name, @authentication.user
  %p
    %b Provider:
    = @authentication.provider
  %p
    %b Uid:
    = @authentication.uid
  %p
    %b Credentials:
    = @authentication.credentials
  %p
    %b raw:
    = debug ActiveSupport::JSON.decode( @authentication.raw)


  - if can? :update, model_class
    .form-actions
      = link_to 'Edit', edit_authentication_path(@authentication), :class => 'btn btn-af'
      = link_to 'Back', authentications_path, :class => 'btn'
