= simple_form_for @user, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f|
  = f.input :email
  = f.input :name
  = f.input :bio, :as => :text, :input_html => { :cols => 50, :rows => 5 }
  = f.input :avatar, :as => :avatar
  = f.input :avatar_cache, :as => :hidden
  = f.input :location
  = f.input :phone
  = f.input :gender,:as => :radio_buttons, collection: ['male', 'female', 'other']
  = f.input :tag_list
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
