- model_class = User
= content_for :title do 'Edit Person Details' end

.well.span9
  = render_breadcrumbs
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")
        = link_to '<i class="icon-info-sign"></i> View Profile'.html_safe, @user,
        :class => 'btn-af btn btn-mini pull-right'

  = render "form"

.span3.right-sidebar-fluid
  = render 'sidebar'