- model_class = User

.row-fluid
  .span6
    %p= render 'search'
  .span6
    .pull-right.padded
      %span.badge.badge-success= @search.total
      rows found

.row-fluid
  %ul.thumbnails
    - @search.results.each do |user|
      %li
        .thumbnail
          = image_tag(user.avatar.thumb)
          .caption
            %h5= user.name

  %div= paginate @search.results