- model_class = User

.row-fluid
  .span6
    %p= render 'search'
  .span6
    .pull-right.numfound.padded
      %span.badge.badge-success= @search.total if @search.total.present?
      persons found

.row-fluid
  %ul.thumbnails
    - @search.results.each do |user|
      %li.span4
        .thumbnail
          = link_to image_tag(user.avatar.thumb), user, :class => 'pull-left'
          .caption
            %h4= link_to user.name, user
            = raw user.tag_list.map { |t| link_to '<i class="icon-tag"></i> '.html_safe+t, tag_path(t), :class => '' }.join(' ')
            .desc= truncate(user.bio, :length => 110, :omission => '... (continued)')


  %div= paginate @search.results