- model_class = User

.row-fluid
  .span6
    %p= render 'search'
  .span6
    .pull-right.numfound.padded
      %span.badge.badge-success= @search.total
      persons found

.row-fluid
  %ul.thumbnails
    - @search.results.each do |user|
      %li
        .thumbnail
          = link_to image_tag(user.avatar.thumb), user
          .caption
            %h5= link_to user.name, user
            = raw user.tag_list.map { |t| link_to '<i class="icon-tag"></i> '.html_safe+t, tag_path(t), :class => '' }.join(' ')

  %div= paginate @search.results