- model_class = User

.row-fluid
  .span6
    = render 'search'
  .span6
    .pull-right
      %h5.pad=link_to current_user.name, current_user

.row-fluid
  .well.alert-message.notice
    .span6
      %span.badge.badge-success= @search.total if @search.total.present?
      persons found in #{Time.now - @start} seconds
    .span6
      .pull-right.dropdown
        =link_to '<i class="icon-cogs"></i>'.html_safe, '#',
        :class => 'dropdown-toggle btn-af btn btn-mini left_tooltip',
        'data-toggle' => 'dropdown',
        'data-original-title' => 'Settings'
        %ul.dropdown-menu
          %li= link_to 'Search settings'
          %li= link_to 'Advanced search'
          %li= link_to 'Web history'
          %li= link_to 'Search Help'

.row-fluid
  %ul.thumbnails
    - @search.results.each do |user|
      %li.span4
        .thumbnail
          = link_to image_tag(user.avatar.thumb), user, :class => 'pull-left'
          .caption
            %h4= link_to user.name, user
            = raw user.tag_list.map { |t| link_to '<i class="icon-tag"></i> '.html_safe+t, tag_path(t), :class => '' }.join(' ')
            .desc= truncate(user.bio, :length => 110, :omission => '... (continued)')


  %div= paginate @search.results