- model_class = User

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand=t '.title', :default => model_class.model_name.human + ' Details'
        = link_to '<i class="icon-backward"></i>'.html_safe, :back, :class => 'btn btn-mini pull-right'
  %p
    %b= model_class.human_attribute_name(:email) + ':'
    = @user.email
  %p
    %b= model_class.human_attribute_name(:sign_in_count) + ':'
    = @user.sign_in_count
  %p
    %b= model_class.human_attribute_name(:current_sign_in_at) + ':'
    = @user.current_sign_in_at
  %p
    %b= model_class.human_attribute_name(:last_sign_in_at) + ':'
    = @user.last_sign_in_at
  %p
    %b= model_class.human_attribute_name(:current_sign_in_ip) + ':'
    = @user.current_sign_in_ip
  %p
    %b= model_class.human_attribute_name(:last_sign_in_ip) + ':'
    = @user.last_sign_in_ip
  %p
    %b= model_class.human_attribute_name(:name) + ':'
    = @user.name
  %p
    %b= model_class.human_attribute_name(:location) + ':'
    = @user.location
  %p
    %b= model_class.human_attribute_name(:gender) + ':'
    = @user.gender
  %p
    %b= model_class.human_attribute_name(:phone) + ':'
    = @user.phone
  %p
    %b= model_class.human_attribute_name(:bio) + ':'
    = @user.bio
  %p
    %b= model_class.human_attribute_name(:avatar) + ':'
    %br
    = image_tag(@user.avatar.thumb, :class => 'thumb account-img')
  %p
    %b= model_class.human_attribute_name(:roles) + ':'
    = @user.roles.collect { |r| r.name }.join(', ')
  %p
    %b= model_class.human_attribute_name(:tags) + ':'
    = raw @user.tag_list.map { |t| link_to '<i class="icon-tag"></i> '.html_safe+t, tag_path(t), :class => 'btn btn-mini' }.join(' ')
  %p
    %b= model_class.human_attribute_name(:authentications) + ':'
    = raw @user.authentications.map { |a| link_to "<i class=\"icon-#{a.provider}\"></i> ".html_safe + a.provider,
    authentication_path(a),
    :class => 'btn btn-mini' }.join(' ')

  - if can? :update, model_class
    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn' if can? :update, model_class
      = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if can? :destroy, model_class
