.row-fluid
  .span12
    .well
      .navbar.navbar-heading
        .navbar-inner
          .container
            =link_to 'sidebar widget', nil, :class => 'brand'
      %ul.nav.nav-tabs.nav-stacked
        %li= link_to 'Who Viewed me <i class="icon-group float-right"></i>'.html_safe, visits_path
        %li.active= link_to 'Person Details <i class="icon-eye-open float-right"></i>'.html_safe, nil
        %li= link_to 'Faborite <i class="icon-heart float-right"></i>'.html_safe, nil
        %li= link_to 'More Like This <i class="icon-group float-right"></i>'.html_safe, nil
        %li= link_to 'Bookmark <i class="icon-bookmark float-right"></i>'.html_safe, nil
