= simple_form_for @gallery, :html => { :class => 'form-vertical' } do |f|
  = f.input :name
  = f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 5, :style => 'width: 635px; height: 200px;' }
  = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), galleries_path, :class => 'btn'
