= simple_form_for @image, :html => { :class => 'form-vertical' } do |f|
  = f.input :name
  = f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 5, :style => 'width: 635px; height: 200px;' }
  = f.input :image, :as => :image
  = f.input :image_cache, :as => :hidden
  = f.association :gallery, :prompt => 'select a gallery'
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), images_path, :class => 'btn'
