- model_class = Gallery

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @image.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @image.description
%p
  %strong= model_class.human_attribute_name(:image) + ':'
  %br
  = image_tag(@image.image.url, {:class => 'img'})
%p
  %strong= model_class.human_attribute_name(:gallery_id) + ':'
  %br
  = link_to @image.gallery.name, @image.gallery
