- model_class = Image


.span9
  = render_breadcrumbs
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.brand= t '.title', :default => model_class.model_name.human.pluralize
          = link_to raw('<i class="icon-plus-sign"></i> ' + t('.new', :default => t("helpers.links.new"))), new_image_path, :class => 'btn btn-success btn-mini btn-plus pull-right'

    = render 'images'

.span3= render 'sidebar'
