<!-- ** left panel ** -->
<div id="leftpanel">
  <div class="leftpanel-wrapper">
    <ul class="nav nav-pills nav-stacked">
      <li class="user-container">
        <% if user_signed_in? %>
            <a href="<%= edit_user_registration_path %>">
              <%= image_tag(current_user.avatar.square, :class => 'thumb account-img') %>
              <%= current_user.name %>
            </a>
        <% else %>
        <% end %>
      </li>
    </ul>
    <div class="btn-circle-panel small" id="left-bar">
      <ul class="btn-circle circle-container">
        <li class="success<%= params[:controller] == 'home' ? ' active' : '' %>">
          <a href="/" class="top_tooltip" data-original-title="Home">
            <img src="/assets/icons/home.png">
          </a>
        </li>
        <li class="success<%= params[:controller] == 'galleries' ? ' active' : '' %>">
          <a href="<%= galleries_path %>" class="top_tooltip" data-original-title="My photo galleries">
            <img src="/assets/icons/my-pictures.png">
          </a>
        </li>
        <% if user_signed_in? %>
            <% if current_user.has_role?(:admin) %>
                <li class="success<%= params[:controller] == 'moderators' ? ' active' : '' %>">
                  <a href="<%= moderators_dashboard_path %>" class="top_tooltip" data-original-title="dashboard" data-no-turbolink>
                    <img src="/assets/icons/control-panel.png">
                  </a>
                </li>
            <% end %>
        <% end %>
        <li class="success<%= params[:controller] == 'authentications' ? ' active' : '' %>">
          <a href="<%= authentications_path %>" class="top_tooltip" data-original-title="My Social Profiles">
            <img src="/assets/icons/social-profiles.png">
          </a>
        </li>
        <li class="success<%= params[:controller] == 'messages' ? ' active' : '' %>">
          <a href="<%= queries_path %>" class="bottom_tooltip" data-original-title="Search History">
            <img src="/assets/icons/clock.png">
          </a>
          <!--<span class="badge badge-important">24</span>-->
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ** ./ left panel ** -->