<!doctype html public "lice">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <%= render 'layouts/head' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div id="maincontainer" class="right-sb-fluid">
  <div id="contentwrapper">
    <div id="contentcolumn">
      <!-- ** top navbar ** -->
      <div class="blue navbar navbar-static nomargin">
        <%= render 'layouts/navigation' %>
      </div>
      <!-- ** ./ top navbar ** -->
      <div class="container-fluid">
        <div class="row-fluid wrapper">

          <!-- ** main content ** -->
          <div id="content" class="span12 contentcolumn">
            <%#= render_breadcrumb %>
            <%= render 'layouts/messages' %>
            <div class="row-fluid">
              <%= yield %>
            </div>
            <%= render 'layouts/foot-links' %>
          </div>
          <!-- ** ./ main content ** -->
        </div>
      </div>
    </div>
  </div>

  <div id="leftcolumn">
    <%= render 'layouts/left-sidebar' %>
  </div>
</div>
<%= render 'layouts/foot_js' %>
</body>
</html>