<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Home" %> &raquo; PERSON LOG</title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PERSON LOG" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="maincontainer" class="right-sb-fluid">
  <!---- ************* ./ CLASS FOR RIGHT SIDEBAR FLUID ********* -->
  <div id="contentwrapper">
    <div id="contentcolumn">
      <!-- ** top navbar ** -->
      <div class="blue navbar navbar-static nomargin">
        <%= render 'layouts/navigation' %>
      </div>
      <!-- ** ./ top navbar ** -->
      <div class="container-fluid">
        <div class="row-fluid wrapper">

          <!-- ** main content ** -->
          <div id="content" class="span12 contentcolumn">
            <%#= render_breadcrumb %>
            <div class="row-fluid">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>

          </div>
          <!-- ** ./ main content ** -->
        </div>
      </div>
    </div>
  </div>

  <div id="leftcolumn">
    <%= render 'layouts/left-sidebar' %>
  </div>
  <div id="footer">
  </div>
  <div class="clearfix"></div>
</div>
</body>
</html>