<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Home" %> &raquo; PERSON LOG</title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PERSON LOG" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="maincontainer" class="right-sb-fluid">
  <!---- ************* ./ CLASS FOR RIGHT SIDEBAR FLUID ********* -->
  <div id="contentwrapper">
    <div id="contentcolumn">
      <!-- ** top navbar ** -->
      <div class="blue navbar navbar-static nomargin">
        <%= render 'layouts/navigation' %>
      </div>
      <!-- ** ./ top navbar ** -->
      <div class="container-fluid">
        <div class="row-fluid wrapper">

          <!-- ** main content ** -->
          <div class="span12 contentcolumn">
            <%#= render_breadcrumb %>
            <div class="row-fluid">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>

          </div>
          <!-- ** ./ main content ** -->
        </div>
      </div>
    </div>
  </div>

  <div id="leftcolumn">
    <!-- ** left panel ** -->
    <div id="leftpanel">
      <div class="leftpanel-wrapper">
        <ul class="nav nav-pills nav-stacked">
          <li class="user-container">
            <% if user_signed_in? %>
                <a href="/users/<%= current_user.id.to_s %>">
                  <%= image_tag(current_user.avatar.square, :class => 'thumb account-img') %>
                  <%= current_user.name %>
                </a>
            <% else %>
            <% end %>
          </li>
        </ul>
        <div class="btn-circle-panel small" id="left-bar">
          <ul class="btn-circle circle-container">
            <li class="success active">
              <a href="/" class="top_tooltip" data-original-title="Home">
                <img src="/assets/icons/home.png">
              </a>
            </li>
            <li class="success">
              <a href="/users" class="top_tooltip" data-original-title="Home">
                <img src="/assets/icons/collab.png">
              </a>
            </li>
            <li class="success">
              <a href="/" class="bottom_tooltip" data-original-title="Personal messages">
                <img src="/assets/icons/personal-messages.png"></a>
              <span class="badge badge-important">24</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ** ./ left panel ** -->
  </div>
  <div class="clearfix"></div>
</div>
</body>
</html>